body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #535952;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
    background-color: white;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  h2 {
    color: #5ca945;
  }
  
  form {
    margin-top: 1em;
  }
  
  input, select, button {
    margin: 10px 0;
    padding: 0.5em;
    font-size: 1em;
  }
  
  button {
    background-color: #5ca945;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #498a38;
  }
  
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
  }
  